# Developer Environment
.vscode/
.venv/
.DS_Store

# Secret Environment Variables
.env

# Python Caches
__pycache__/
.ruff_cache/

# Artifacts
artifacts/
data/
factors/
log/
metrics/
notebooks/
wandb/

# Project References
refs/

# LaTeX 
*.aux
*.out
*.log
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.lol
*.lof
*.lot
*.lox
*.nav
*.snm
*.synctex.gz
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.maf
*.mtc*
*.bmc
*.run.xml
*.xdy
# End of generated LaTeX auxiliary/output files