# Data Ingestion & API Clients
alpaca-py>=0.30.0
yfinance>=0.2.36
python-dotenv>=1.0.1
pandas-datareader>=0.10.0

# Data Engineering & Preprocessing
polars>=0.20.0
numpy>=1.26.0,<2
pandas>=2.2.0  # Fallback
pyarrow>=14.0.0

# Deep Learning Engine
torch>=2.2.0
pytorch-lightning>=2.2.0

# MLOps, Tracking, & Optimization
optuna>=3.5.0
wandb>=0.16.0

# Explainable AI (XAI) & Baselines
captum>=0.7.0
lightgbm>=4.3.0
scikit-learn>=1.4.0

# Convex Optimization (Phase 2)
cvxpy>=1.4.0
osqp>=0.6.3
scipy>=1.12.0

# Plotting & Visualization
matplotlib>=3.8.0
seaborn>=0.13.0
plotly>=5.18.0
mplfinance>=0.12.10b0

# tTaining cloud infracstuctures
modal==1.5.3

statsmodels